In [2]:
import import_ipynb
import os
import pandas as pd
import pymongo
import csv
import json
from pymongo import MongoClient

from webdriver_manager.chrome import ChromeDriverManager

from category_list_clean import category_clean_data
from channel_detail_csv import channel_details_csv
from scrape_code import top_youtuber
from get_info_youtube import get_user_info
from get_top_youtube_info import get_top_user_info

importing Jupyter notebook from category_list_clean.ipynb
importing Jupyter notebook from channel_detail_csv.ipynb
importing Jupyter notebook from scrape_code.ipynb
importing Jupyter notebook from get_info_youtube.ipynb
importing Jupyter notebook from get_top_youtube_info.ipynb

In [3]:
#Calling code to retrieve the cleaned category list
category_list = category_clean_data()

category_list.head()

  Category_id     Category_Name
0           1  Film & Animation
1           2  Autos & Vehicles
2          10             Music
3          15    Pets & Animals
4          17            Sports

In [4]:
#Channel details from csv file
channel_info =channel_details_csv()
channel_info.head()

,channelid,videocategoryid,channelviewcount,videocount,subscribercount
0,UCdzU3DSGzyWzN2118yd9X9g,22,14654,30,18
1,UC0UnhAG47DRyVZGVcbhAXhQ,10,105909,51,184
2,UCXjtAvK5P3wXBGh0vbGylzg,27,48265,72,338
3,UCeKHMeUlcLNPLCLUfZUQI2w,26,2116722,172,22051
4,UCNWPDyaWf2eAHnofFLSnEMg,20,1649075,2777,220

In [5]:
#Top channels scrapped from website using selenium & beautiful soup
user_details = top_youtuber()
user_details.head()

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 90.0.4430
[WDM] - Get LATEST driver version for 90.0.4430
[WDM] - Get LATEST driver version for 90.0.4430

[WDM] - Trying to download new driver from https://chromedriver.storage.googleapis.com/90.0.4430.24/chromedriver_win32.zip
[WDM] - Driver has been saved in cache [C:\Users\jegan\.wdm\drivers\chromedriver\win32\90.0.4430.24]

                 Channel_id                Channel_title       Category_name
0  UCq-Fj5jknLsUf-MWSy4_brA                     T-Series              Music
1  UCbCmjCuTUZos6Inko4u57UQ   Cocomelon - Nursery Rhymes          Education
2  UC-lHJZR3Gqxm24_Vd_AJ5Yw                    PewDiePie             Gaming
3  UCpEhnqL0y41EpW2TvWAHD7Q                    SET India      Entertainment
4  UCk8GzjMOrta8yxDcKfylJYw            ✿ Kids Diana Show   Film & Animation

In [6]:
#Removed extra spaces in-beginning/end of the column values
user_details['Channel_title'] = user_details['Channel_title'].str.strip()
user_details['Category_name'] = user_details['Category_name'].str.strip()
user_details.head()

                 Channel_id               Channel_title     Category_name
0  UCq-Fj5jknLsUf-MWSy4_brA                    T-Series             Music
1  UCbCmjCuTUZos6Inko4u57UQ  Cocomelon - Nursery Rhymes         Education
2  UC-lHJZR3Gqxm24_Vd_AJ5Yw                   PewDiePie            Gaming
3  UCpEhnqL0y41EpW2TvWAHD7Q                   SET India     Entertainment
4  UCk8GzjMOrta8yxDcKfylJYw           ✿ Kids Diana Show  Film & Animation

In [7]:
#Connecting to MongoDB
client = MongoClient()
client = MongoClient('localhost', 27017)

In [8]:
#1.Creating/Inserting video_categories into database
db=client['youtube_db']
video_category=db['video_category']
video_category.drop()
db.video_category.insert_many(category_list.to_dict('records'))

In [9]:
#2.Creating/Inserting channel info collected from dataworld dataset into database
general_channel_info=db['general_channel_info']
general_channel_info.drop()
db.general_channel_info.insert_many(channel_info.to_dict('records'))

In [10]:
#3.Creating/Inserting channel info scraped from web into database
top_channel_info=db['top_channel_info']
top_channel_info.drop()
db.top_channel_info.insert_many(user_details.to_dict('records'))

In [12]:
#4.Creating/Inserting general channel info from API into database
path_1 = os.path.join('Resources','Output Data','channel_csv_info_from_api.csv')
channel_detailed_info_csv = pd.read_csv(path_1)
general_channel_details_info=db['general_channel_details_info']
general_channel_details_info.drop()
db.general_channel_details_info.insert_many(channel_detailed_info_csv.to_dict('records'))

In [13]:
#5.Creating/Inserting top channel info from API into database
path_2 = os.path.join('Resources','Output Data','top_user_info_from_api.csv')
top_channel_detailed_info = pd.read_csv(path_2)
top_channel_details_info=db['top_channel_details_info']
top_channel_details_info.drop()
db.top_channel_details_info.insert_many(top_channel_detailed_info.to_dict('records'))

In [15]:
#Update top channel with category_id
for ch in db.top_channel_info.find():
    ch_id = ch['Channel_id']
    ch_cat_name = ch['Category_name']
    cat_id = db.video_category.find_one({ "Category_Name": str(ch_cat_name) })['Category_id']
    db.top_channel_info.update_one({"Channel_id": ch_id}, {'$set': {"Category_id": cat_id}})

In [16]:
#Update general channels with category name
for chann in db.general_channel_info.find():
    ch1_id = chann['channelid']
    ch1_cat_id = chann['videocategoryid']
    cat_name = db.video_category.find_one({ "Category_id": str(ch1_cat_id) })['Category_Name']
    db.general_channel_info.update_one({"channelid": ch1_id}, {'$set': {"Category_Name": cat_name}})

In [75]:
#Merged top youtube channel info into single collection
top_channel_merged = db.top_channel_details_info.aggregate([
   {
     '$lookup':
       {
         'from': "top_channel_info",
         'localField': "Channel_id",
         'foreignField': "Channel_id",
         'as': "details"
       }
  },
  { '$unwind': "$details" },
  {
    '$project': {
        "Channel_id": 1,
        "Channel_title": 1,
        "Category_id": "$details.Category_id",
        "Category_name": "$details.Category_name",
        "Created_date": 1,
        "Video_count": 1,
        "Views_count":1,
        "Subscription_count": 1,
        "Subscription_count_hidden": 1,
        "Country": 1
    }    
  }
])

merged_top_channel=db['merged_top_channel']
merged_top_channel.drop()
for row in top_channel_merged:
    db.merged_top_channel.insert_one(row)

In [18]:
#Merged general youtube channel info into single collection
general_channel_merged = db.general_channel_details_info.aggregate([
   {
     '$lookup':
       {
         'from': "general_channel_info",
         'localField': "Channel_id",
         'foreignField': "channelid",
         'as': "details1"
       }
  },
  { '$unwind': "$details1" },
  {
    '$project': {
        "Channel_id": 1,
        "Channel_title": 1,
        "Created_date": 1,
        "Video_count": 1,
        "Views_count":1,
        "Subscription_count": 1,
        "Subscription_count_hidden": 1,
        "Country": 1,
        "Category_id": "$details1.videocategoryid",
        "Category_name": "$details1.Category_Name"
    }
       
  }
 
])

merged_general_channel=db['merged_general_channel']
merged_general_channel.drop()
for row1 in general_channel_merged:
    db.merged_general_channel.insert_one(row1)

In [19]:
#Main table with both general and top youtubers'channel 
general_top_merged = db.merged_top_channel.aggregate( [
   { '$unionWith': "merged_general_channel" }
] )

merged_general_top_channel=db['merged_general_top_channel']
merged_general_top_channel.drop()
for row1 in general_top_merged:
    db.merged_general_top_channel.insert_one(row1)

## Storing data in cloud string

In [56]:
from config import cloudM ,cloudMpassword 

cloudstr=f'mongodb+srv://{cloudM}:{cloudMpassword}@supriyada.h7evx.mongodb.net/myFirstDatabase?retryWrites=true&w=majority'
cloudclient = MongoClient(cloudstr)

In [ ]:
db=cloudclient['youtube_cloud_db']
colmanager1.drop()
colmanager1=db['category_collection']

colmanager1.insert_many(category_list.to_dict('records'))

In [40]:
channel_info_collection=db['channel_info_collection']
channel_info_collection.drop()
db.channel_info_collection.insert_many(channel_info.to_dict('records'))

In [41]:
top_channel_info_collection=db['top_channel_info_collection']
top_channel_info_collection.drop()
db.top_channel_info_collection.insert_many(user_details.to_dict('records'))

In [42]:
channel_info_details_collection=db['channel_info_details_collection']
channel_info_details_collection.drop()
db.channel_info_details_collection.insert_many(channel_detailed_info_csv.to_dict('records'))

In [43]:
top_channel_info_details_collection=db['top_channel_info_details_collection']
top_channel_info_details_collection.drop()
db.top_channel_info_details_collection.insert_many(top_channel_detailed_info.to_dict('records'))

In [44]:
#Update top channel with category_id
for ch in db.top_channel_info_collection.find():
    ch_id = ch['Channel_id']
    ch_cat_name = ch['Category_name']
    cat_id = db.category_collection.find_one({ "Category_Name": str(ch_cat_name) })['Category_id']
    db.top_channel_info_collection.update_one({"Channel_id": ch_id}, {'$set': {"Category_id": cat_id}})

In [45]:
#Update general channels with category name
for chann in db.channel_info_collection.find():
    ch1_id = chann['channelid']
    ch1_cat_id = chann['videocategoryid']
    cat_name = db.category_collection.find_one({ "Category_id": str(ch1_cat_id) })['Category_Name']
    db.channel_info_collection.update_one({"channelid": ch1_id}, {'$set': {"Category_Name": cat_name}})

In [74]:
top_channel_merged1 = db.top_channel_info_details_collection.aggregate([
   {
     '$lookup':
       {
         'from': "top_channel_info_collection",
         'localField': "Channel_id",
         'foreignField': "Channel_id",
         'as': "details"
       }
  },
  { '$unwind': "$details" },
  {
    '$project': {
        "Channel_id": 1,
        "Channel_title": 1,
        "Category_id": "$details.Category_id",
        "Category_name": "$details.Category_name",
        "Created_date": 1,
        "Video_count": 1,
        "Views_count":1,
        "Subscription_count": 1,
        "Subscription_count_hidden": 1,
        "Country": 1
    }    
  }
])
merged_top_channel_collection=db['merged_top_channel_collection']
merged_top_channel_collection.drop()
for row3 in top_channel_merged1:
    db.merged_top_channel_collection.insert_one(row3)

In [76]:
#Merged general youtube channel info into single collection
general_channel_merged1 = db.channel_info_details_collection.aggregate([
   {
     '$lookup':
       {
         'from': "channel_info_collection",
         'localField': "Channel_id",
         'foreignField': "channelid",
         'as': "details1"
       }
  },
  { '$unwind': "$details1" },
  {
    '$project': {
        "Channel_id": 1,
        "Channel_title": 1,
        "Created_date": 1,
        "Video_count": 1,
        "Views_count":1,
        "Subscription_count": 1,
        "Subscription_count_hidden": 1,
        "Country": 1,
        "Category_id": "$details1.videocategoryid",
        "Category_name": "$details1.Category_Name"
    }
       
  }
 
])

merged_general_channel_collection=db['merged_general_channel_collection']
merged_general_channel_collection.drop()
for row4 in general_channel_merged1:
    db.merged_general_channel_collection.insert_one(row4)

In [77]:
#Main table with both general and top youtubers'channel 
general_top_merged1 = db.merged_top_channel_collection.aggregate( [
   { '$unionWith': "merged_general_channel_collection" }
] )

merged_general_top_channel_col=db['merged_general_top_channel_col']
merged_general_top_channel_col.drop()
for row1 in general_top_merged1:
    db.merged_general_top_channel_col.insert_one(row1)