In [8]:
import import_ipynb
import os

from category_list_clean import category_clean_data
from channel_detail_csv import channel_details_csv

In [4]:
#Calling code to retrieve the cleaned category list
category_list = category_clean_data()

category_list

   Category_id          Category_Name
0            1       Film & Animation
1            2       Autos & Vehicles
2           10                  Music
3           15         Pets & Animals
4           17                 Sports
5           18           Short Movies
6           19        Travel & Events
7           20                 Gaming
8           21          Videoblogging
9           22         People & Blogs
10          23                 Comedy
11          24          Entertainment
12          25        News & Politics
13          26          Howto & Style
14          27              Education
15          28   Science & Technology
16          29  Nonprofits & Activism
17          30                 Movies
18          31        Anime/Animation
19          32       Action/Adventure
20          33               Classics
21          34                 Comedy
22          35            Documentary
23          36                  Drama
24          37                 Family
25          38                Foreign
26          39                 Horror
27          40         Sci-Fi/Fantasy
28          41               Thriller
29          42                 Shorts
30          43                  Shows
31          44               Trailers

In [9]:
#Channel details from csv file
channel_info =channel_details_csv()
channel_info

,channelid,videocategoryid,channelviewcount,videocount,subscribercount
0,UCdzU3DSGzyWzN2118yd9X9g,22,14654,30,18
1,UC0UnhAG47DRyVZGVcbhAXhQ,10,105909,51,184
2,UCXjtAvK5P3wXBGh0vbGylzg,27,48265,72,338
3,UCeKHMeUlcLNPLCLUfZUQI2w,26,2116722,172,22051
4,UCNWPDyaWf2eAHnofFLSnEMg,20,1649075,2777,220
...,...,...,...,...,...
995,UC2l2CRfsl73FV5EETuNcNhg,10,23572,81,10
996,UCjaSeKdnPGviZREF6EcnJcw,24,390440,35,2155
997,UCD-9G8Ryrq9o7M3fEWk5rsA,22,2521,1,8
998,UCXbBAdHOCyfUd6ruv_RUOPQ,20,86773,198,126
999,UCKm_mjfGRx0kCT7QKNiuylw,20,5839602,165,20825